.BOX__contianer{
    width: 1065px;
    height: 533px;
    left: 513px;
    top: 326px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* body {
    font-family: Roboto;
} */


.MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 8px;
    text-align: center;
}

strong.capital{
    text-transform: capitalize;
}

.button{
    text-align: center;
    margin-top: -2px;
}

span.heighlight{
    font-weight: 600;
    font-size: 20px;
}

.subheading{
    border: 2px solid;
    padding: 10px;
}

.certificate-container {
    padding: 10px;
    /* width: 1024px; */
}
.certificate {
    /* border: 20px solid #0C5280; */
    padding: 10px;
    /* height: 600px; */
    position: relative;
}

.certificate:after {
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background-image: url(https://image.ibb.co/ckrVv7/water_mark_logo.png);
    background-size: 100%;
    z-index: -1;
}

.certificate-header > .logo {
    width: 80px;
    height: 80px;
}

.certificate-title {
    text-align: center;  
    font-size: 47px;  
}

.certificate-body {
}

.certificate-heading{
    text-align: center;
}

h1 {

    font-weight: 400;
    font-size: 48px;
    color: #0C5280;
}

.student-name {
    font-size: 24px;
}

.underline{
    border-bottom: dotted 1px black;
}

.certificate-content {
    margin: 0 auto;
    width: 750px;
    letter-spacing: 2px;
    font-size: 20px;

}

.about-certificate {
    width: 380px;
    margin: 0 auto;
}

.topic-description {

    text-align: center;
}











 
